{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "prettier"
  ],
  "rules": {
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-console": "warn"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ]
}
